---
# configuration of dns 
address: 0.0.0.0
port: 53

auth-key: onion
log-level: info
resolver: 8.8.8.8
max-ip-num: 8

#initial-nodes: 10.11.12.14, 10.11.12.15
#domain: ap-northeast-1.compute.internal
#enable-cache: true

# specify the script which initializes a setup
#init-script: |
#  @options['initial-nodes'] = '10.11.12.20, 10.11.12.21'

# (another way)
#init-script: /foo/bar/zoo/murakumo-init.rb

#name-includes: ^app-\d+$, ^db-\d+$
#name-excludes: 
#addr-includes: ^10\..*
#addr-excludes: 

#balancing:
#  ^app-.*:                  # destination alias regex
#    algorithm:  random      # balancing algorithm
#    max-ip-num: 1
#  ^db-.*:                   # destination alias regex
#    algorithm:  fix_by_src  # balancing algorithm
#    sources:    foo, bar    # source alias name (fix_by_src only)
#    max-ip-num: 8
#  ^cache-.*:                # destination alias regex
#    algorithm:  fix_by_src2 # balancing algorithm
#    sources:    zoo         # source alias name (fix_by_src only)

#notification:
#  host: my.smtp.server
#  #port: 25
#  sender: sender@mail.from
#  recipients:
#    - recipient1@mail.to
#    - recipient2@mail.to
#  #helo: my.domain
#  #account: my_name
#  #password: my_password
#  #open_timeout: 30
#  #read_timeout: 60

# ip address, hostname, ttl
host: 10.11.12.13, my-host, 60

# alias hostname, ttl, master/secondary/backup, weight
alias: 
  - foo,60,master,100
  - bar,60,master,100

#health-check:
#  foo:
#    interval: 5
#    timeout: 5
#    healthy: 2
#    unhealthy: 2
#    #on-activate: /foo/bar/zoo.sh   # args: address name status
#    #on-inactivate: /foo/bar/zoo.sh # args: address name status
#    script: |
#      tcp_check 80
#  bar:
#    interval: 5
#    timeout: 5
#    healthy: 2
#    unhealthy: 2
#    script: |
#      http_get '/index.html'

# hook of server start
#on-start: /foo/bar/on-start.sh # args: address hostname

#activation-check:
#  foo:
#    start-delay: 60
#    interval: 5
#    active: 2    # active threshold count
#    inactive: 2  # inactive threshold count
#    on-activate: /foo/bar/zoo.sh   # args: address name status
#    on-inactivate: /foo/bar/zoo.sh # args: address name status
#  bar:
#    start-delay: 60
#    interval: 5
#    active: 2    # active threshold count
#    inactive: 2  # inactive threshold count
#    on-activate: /foo/bar/zoo.sh   # args: address name status
#    on-inactivate: /foo/bar/zoo.sh # args: address name status
