---
# configuration of dns 
address: 0.0.0.0
port: 53

auth-key: onion
log-level: info
resolver: 8.8.8.8
max-ip-num: 8

#initial-nodes: 10.11.12.14, 10.11.12.15
#domain: ap-northeast-1.compute.internal
#enable-cache: true

#notification:
#  host: my.smtp.server
#  #port: 25
#  sender: sender@mail.from
#  recipients:
#    - recipient1@mail.to
#    - recipient2@mail.to
#  #helo: my.domain
#  #account: my_name
#  #password: my_password
#  #open_timeout: 30
#  #read_timeout: 60

# Ip address, hostname, ttl
host: 10.11.12.13, my-host, 60

# alias hostname, ttl, master/secondary/backup
alias: 
  - foo,60,master
  - bar,60,master

health-check:
  foo:
    interval: 5
    timeout: 5
    healthy: 2
    unhealthy: 2
    #on_activate: /foo/bar/zoo.sh   # args: address name status
    #on_inactivate: /foo/bar/zoo.sh # args: address name status
    script: |
      tcp_check 80
  bar:
    interval: 5
    timeout: 5
    healthy: 2
    unhealthy: 2
    script: |
      http_get '/index.html'
